<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img class="logo" src="./assets/img/Hyfit-Logo-White.png" alt="HyFit Logo">
      </a>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <img class="logo2" src="./assets/img/Hyfit-Logo-1.png" alt="HyFit Icon"> 
      <p>
        <a class="btn btn-secondary my-2" href="/">Home Workouts</a>
        <a class="btn btn-secondary my-2" href="/gym">Gym Workouts</a>
        <a class="btn btn-secondary my-2" href="/JE">Journal Entries</a>
      </p>
      <!--PLACE HOLDER HEADER-->
      <p class="lead text-muted">Abs</p>
    </div>
  </section>

  <div>
    <div class="container">
      <!--PLACE HOLDER IMAGE-->
      <img class="headerimg" src="./assets/img/Gym/Abs-Gym.jpg" alt="HyFit Icon"> 
      <p>Hanging Raises	| Bench Leg Pull-In	| Ball Climbers	| Medicine Ball V-Ups	| Dumbbell Side Bend	| Hip Raise	| Weighted Twists	| Kneeling Cable Crunch</p>
      <p>Pick four workouts and do 3 sets of 10 reps</p>
    </div>
    <!--NOTE SECTION-->
    <div class="journal">
        <form id="journal">
        <input type="text" name="name" placeholder="Enter Workout Notes">
        <button type="submit" name="submit" value="submit">Submit</button>
      </form>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#" style="color: #6c757d;">Back to top</a>
    </p>
     &copy; 2020 HyFit, Inc. | All Rights Reserved
  </div>
    <script type="text/javascript" src="/assets/js/execise.js"></script>
</footer>
