 <header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
         <img class="logo" src="./assets/img/Hyfit-Logo-White.png" alt="HyFit Logo">
     </a>
    </div>
  </div>
  
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <img class="logo2" src="./assets/img/Hyfit-Logo-1.png" alt="HyFit Icon"> 
      <p>
        <a class="btn btn-secondary my-2" href="/">Home Workouts</a>
        <a class="btn btn-secondary my-2" href="/gym">Gym Workouts</a>
        <a class="btn btn-primary my-2" href="/JE">Journal Entries</a>      
        </p>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>
  <!-- <div class="navbar navbar-dark bg-dark shadow-sm"> -->
  <body>

    <h1 id="currentDay" class="text-black font-weight-bold lead"></h1>

    <body>
     
      <div class="container">
  
          <!-- Journal Entries from here-->
 
          <div id="wrapper">
            <div class="JournalEntry">
              <header id="header">
                <h1>Journal Entry</h1>
              </header>
              <main class="main">	
                <form id="JEForm">
                  <input type="text" name="name" placeholder="Enter New Journal">
                  <button type="submit" name="submit" value="submit">Submit</button>
                </form>
               
                <ul id="JEList">
                  <li>
                    <span>Example</span>
                    <button>edit</button>
                    <button>remove</button>
                  </li> 
                </ul>	
              </main>
            </div>
          </div>

<footer class="text-muted">
    <div class="container">
    <p class="float-right">
      <a href="#" style="color: #6c757d;">Back to top</a>
    </p>
     &copy; 2020 HyFit, Inc. | All Rights Reserved
  </div>
</footer>