 <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Logo</h4>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
         <img class="logo" src="./assets/img/Hyfit-Logo-White.png" alt="HyFit Logo">
     </a>
    </div>
  </div>
  
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Journal Entry</h1>
      <p>
        <a class="btn btn-secondary my-2" href="/">Home Workouts</a>
        <a class="btn btn-secondary my-2" href="/gym">Gym Workouts</a>
        <a class="btn btn-primary my-2" href="/JE">Journal Entries</a>      
        </p>
        <p class="lead text-muted"></p>
    </div>
  </section>
  <!-- div class="navbar navbar-dark bg-dark shadow-sm"> -->
  <body>

    <h1 id="currentDay" class="text-black font-weight-bold lead"></h1>

    <body>
     
      <div class="container">
  
          <!-- Journal Entries from here-->
 
 <div id="wrapper"></div>
            <div class="JournalEntry">
              <header id="header">
              </header>
              <main class="main">	
              </form>
              <form id="JEForm">
                  <label for="users">User Name</label>
                  
                  <input type="text" name="users" id="users" value="users">

                  <label for="title">Title</label>

                  <input type="text" name="title" id="title" value="title">

                  <label for="journalInput">New Journal</label>

                  <input type="text" name="journalInput" id="journalInput">
  
                  <button type="submit" name="submit" value="submit">Submit</button>
                 
                </form>

                
               
                <ul id="JEList">
                  <li>
                    <span>User Name</span><span>Title</span>
                    <span>Journal Example</span>
                    <button>edit</button>
                    <button>remove</button>
                  </li> 
                </ul>	
              </main>
            </div>
          </div>

<footer class="text-muted">
    <div class="container">
    <p class="float-right">
      <a href="#" style="color: #6c757d;">Back to top</a>
    </p>
     &copy; 2020 HyFit, Inc. | All Rights Reserved
  </div>
</footer>