.bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@media (min-width: 768px) {
   .bd-placeholder-img-lg {
      font-size: 3.5rem;
   }
}

.logo {
   width: 15%;
}

.logo2 {
   width: 25%;
   padding-bottom: 20px;
}

.btn-primary {
   background-color: #000000;
   border-color: #000000;
}

.headerimg {
   width: 75%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 50px;
}

p {
   text-align: center;
}

.journal {
   width: 50%;
   display: block;
   margin: auto;
}

/* invite form */
#journal {
   position: relative;
   margin: 0 0 20px;
}

#journal input {
   border: 1px solid #000000;
   padding: 10px 100px 10px 10px;
   width: 100%;
   height: 150px;
   font: 16px/1.4 "Mulish", sans-serif;
   color: #333;
}

#journal button {
   padding: 0 1em;
   font: 16px/1.4 "Mulish", sans-serif;
   background: rgb(51, 51, 51);
   color: #fff;
   border-radius: 0;
   border: 0;
   cursor: pointer;
   position: absolute;
   right: 5px;
   top: 35%;
   height: 40px;
   transition: opacity 0.3s linear;
}

#journal button:hover {
   opacity: 0.7;
}

.execise-btn {
   margin: auto;
}

.card-title {
   border-bottom: solid #000;
}

.bd-placeholder-img {
  font-size: 30px !important; 
}